# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=geJcrRcZ35DNJ563Y2uo1A==,UFKZMYEARclUOwm7KbZuNw==,SnJ7uL1ukMjE+kvZtQ4N5A==,BAUuUoPj07dze4K7F3zg9A==
API_TOKEN_SALT=12BsG11chczE2QSL+asZsg==
ADMIN_JWT_SECRET=cKgjsOJFjFCueUniXyjR/g==
TRANSFER_TOKEN_SALT=nzE+0EUvREVx+emLjRvitQ==

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=localhost
DATABASE_PORT=9057
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=sX6A2zn/nwTq/HZHhb2N+A==
